<div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                    Nombre de commandes ce jour</div>
                <div id="daily-count-int" class="h5 mb-0 font-weight-bold text-gray-800"></div>
            </div>
            <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>

<script>

$( document ).ready(function() {
    getCtx(function() {
        $.getJSON('/statistics/sales/quantity/day/'+restoID).then(function (response) {
            if (response.length > 0){
                console.log(response);
                $("#daily-count-int").text(response[response.length-1].amount);
            }else{
                $("#daily-count-int").html('<div class="alert alert-danger" role="alert">Une erreur s\'est produite lors du chargement des données.</div>');
            }
        }).fail(function (error) {
            $("#daily-count-int").html('<div class="alert alert-danger" role="alert">Une erreur s\'est produite lors du chargement des données.</div>');
        });
    });
});


</script>